<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="stylesheet" href="css/style.css">
		<title>GroupBuy</title>
	</head>
<body>
<div class="page">
	<header>
	<a href="create.html"><img alt="" src="images/new.png"></a>
	<a href="profile.html" class="prof"><img alt="" src="images/prof.png"></a>
	<div class="header-img-home"></div>
	</header>

	<div class="content-box">
		<div class="cont">Список закупок</div>
		<div class="img-with-capt">
			<img src="images/buy.jpg"/>
		</div>
		<div class="text-left">
			 "Название"<br> 	
			 Количество участников: 
			 
			<br>	
			 Минимальное: 
			 
			<br>	
			 Максимальное: 
			 
			<br>
			<input type="button" value="Присоединиться" class="buttonCreate"><br>
		</div>
	</div>
	
	<footer class="site-footer">
		<div class="copyrights"><p>lukin_gorlischeva_krasikov</p></div>
	</footer>
</div>
</body>
</html>