{% load staticfiles  %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="static/images/favicon.ico">
		<link rel="stylesheet" href="static/css/style.css">
		<title>GroupBuy</title>
	</head>
<body>
	<div style="position: absolute; top: 40%;left: 40%;">
    {% block header  %}
    <h1><b>LOGIN PAGE</b></h1>
    {% endblock %}

    {% block column %}
        <form method="post">
            {% for field in login %}
            {{field.label}}{{field}}{{field.errors}}
            {% endfor %}
            <p>
                <input type="submit">
            </p>
        </form>
    {% endblock %}
	</div>
</body>
</html>